<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Meowy</title>
    <link rel="stylesheet" href="/css/signup.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous">
</head>

<body>

    <div class="row">
        <div class="column1">
            <i class="fas fa-cat"></i>
        </div>

        <div class="column2">
            <div class="texts">
                <h2>Sign Up to Meowy</h2>

                <div class="name">
                    Name <br>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>

                <div class="surname">
                    Surname <br>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>

                <div class="username">
                    Username<br>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>

                <div class="email">
                    E-Mail <br>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>

                <div class="password">
                    Password <br>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="signup-btn">
                <button>SIGN UP</button>
            </div>
            <div class="signin-btn">
                <p>Already have an account?</p>
                <button onclick="window.location.href='/Start/Signin'">Sign In</button>
            </div>

        </div>
    </div>

</body>

</html>