@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home / Meowy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous">

    <link rel="stylesheet" href="/css/site.css">
</head>

<body>    

    <!--feed starts-->
    <div>
        <div class="feedHeader">
            <h2>Home</h2>
        </div>

        <!--meow box starts-->
        <div class="meowBox">
            <form>
                <div class="meowInput">
                    <img class="imageFeed" alt="Image" />
                    <input type="text" placeholder="What's happening?" id="meow_input" oninput="meowButton()">
                </div>
                <button class="meowButton" id="meow_button" onclick="sendMeow">meow</button>
            </form>
        </div>
        <!--meow box ends-->

        <!--post starts-->
        <div class="post">
            <div class="postImage">
                <img class="imageFeed" alt="Image" />
            </div>

            <div class="postBody">
                <div class="postHeader">

                    <div class="postUserInfo">
                        <h3>
                            Name Surname
                            <span class="postUsername">
                                username__
                            </span>
                        </h3>
                    </div>

                    <div class="postContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi expedita totam blanditiis
                            perferendis voluptatum iure corrupti. Accusantium tempora neque maiores quia, quis aut
                            similique quam consequatur architecto cum eaque harum?</p>
                    </div>
                </div>

                <div class="postFooter">
                    <span class="material-icons comment"> chat_bubble_outline </span>
                    <span class="material-icons remeow"> repeat </span>
                    <span class="material-icons fav"> favorite_border </span>
                </div>
            </div>
        </div>
        <!--post ends-->

        <!--post starts-->
        <div class="post">
            <div class="postImage">
                <img class="imageFeed" alt="Image" />
            </div>

            <div class="postBody">
                <div class="postHeader">

                    <div class="postUserInfo">
                        <h3>
                            Name Surname
                            <span class="postUsername">
                                username__
                            </span>
                        </h3>
                    </div>

                    <div class="postContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi expedita totam blanditiis
                            perferendis voluptatum iure corrupti. Accusantium tempora neque maiores quia, quis aut
                            similique quam consequatur architecto cum eaque harum?</p>
                    </div>
                </div>

                <div class="postFooter">
                    <span class="material-icons comment"> chat_bubble_outline </span>
                    <span class="material-icons remeow"> repeat </span>
                    <span class="material-icons fav"> favorite_border </span>
                </div>
            </div>
        </div>
        <!--post ends-->

    </div>
    <!--feed ends-->
</body>

<script>
    function meowButton() {

        var inp = document.getElementById("meow_input");
        var btn = document.getElementById("meow_button");

        if (inp.value == null || inp.value == "") {
            btn.style.backgroundColor = "#8daec0";
        } else {
            btn.style.backgroundColor = "#1C658C";
        }
    }

    function sendMeow(){
        console.log("deneme");
    }


</script>

</html>
