@{
    ViewData["Title"] = "Profile Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile / Meowy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous">

    <link rel="stylesheet" href="/css/site.css">
</head>

<body>

    <!--sidebar starts-->
    <div class="sidebar">
        <i class="fas fa-cat"></i>
        <div class="sidebarOption" onclick="window.location.href='/Home/Home'">
            <span class="material-icons"> home </span>
            <h2>Home</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Explore'">
            <span class="material-icons"> tag </span>
            <h2>Explore</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Notifications'">
            <span class="material-icons"> notifications_none </span>
            <h2>Notifications</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Messages'">
            <span class="material-icons"> mail_outline </span>
            <h2>Messages</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Bookmarks'">
            <span class="material-icons"> bookmark_border </span>
            <h2>Bookmarks</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/FRequests'">
            <span class="material-icons"> list </span>
            <h2>Follow Requests</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Profile'">
            <span class="material-icons"> perm_identity </span>
            <h2>Profile</h2>
        </div>
        <div class="sidebarOption" onclick="window.location.href='/Home/Settings'">
            <span class="material-icons"> more_horiz </span>
            <h2>Settings</h2>
        </div>

        <button class="sidebarMeow" onclick="window.location.href='/Home/Home'">meow</button>

        <img class="image" alt="Image" />
        <div class="profileName">
            username__
        </div>
    </div>
    <!--sidebar ends-->

    <!--feed starts-->
    <div class="feed">
        <div class="feedHeader">
            <h2>Profile</h2>
        </div>

        <!--profile box starts-->
        <div class="profileBox">
            <form>
                <div class="profileScreen">
                    <img class="imageProfile" alt="Image"/>
                </div>
                <button class="editButton">Edit Profile</button>
            </form>
        </div>
        <!--profile box ends-->

        <!--post starts-->
        <div class="profileMenu">
            <button>All Meows</button>
            <button>Just Your Meows</button>
            <button>ReMeows</button>
            <button>Likes</button>            
        </div>
        <!--post ends-->

        <!--post starts-->
        <div class="post">
            <div class="postImage">
                <img class="imageFeed" alt="Image" />
            </div>

            <div class="postBody">
                <div class="postHeader">

                    <div class="postUserInfo">
                        <h3>
                            Name Surname
                            <span class="postUsername">
                                username__
                            </span>
                        </h3>
                    </div>

                    <div class="postContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi expedita totam blanditiis
                            perferendis voluptatum iure corrupti. Accusantium tempora neque maiores quia, quis aut
                            similique quam consequatur architecto cum eaque harum?</p>
                    </div>
                </div>

                <div class="postFooter">
                    <span class="material-icons comment"> chat_bubble_outline </span>
                    <span class="material-icons remeow"> repeat </span>
                    <span class="material-icons fav"> favorite_border </span>
                </div>
            </div>
        </div>
        <!--post ends-->

        <!--post starts-->
        <div class="post">
            <div class="postImage">
                <img class="imageFeed" alt="Image" />
            </div>

            <div class="postBody">
                <div class="postHeader">

                    <div class="postUserInfo">
                        <h3>
                            Name Surname
                            <span class="postUsername">
                                username__
                            </span>
                        </h3>
                    </div>

                    <div class="postContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi expedita totam blanditiis
                            perferendis voluptatum iure corrupti. Accusantium tempora neque maiores quia, quis aut
                            similique quam consequatur architecto cum eaque harum?</p>
                    </div>
                </div>

                <div class="postFooter">
                    <span class="material-icons comment"> chat_bubble_outline </span>
                    <span class="material-icons remeow"> repeat </span>
                    <span class="material-icons fav"> favorite_border </span>
                </div>
            </div>
        </div>
        <!--post ends-->

    </div>
    <!--feed ends-->

    <!--widget starts-->
    <div class="widgets">
        <div class="searchInput">
            <span class="material-icons searchIcon"> search</span>
            <input type="text" placeholder="Search Meowy">
        </div>

        <div class="widgetContainer">
            <h2>Trends for you</h2>
            <blockquote class="tags">

            </blockquote>
        </div>
    </div>
    <!--widget ends-->

</body>

</html>
